#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
footer{
  background-color: black;
}

.custom-modal .modal-content {
  background-color: #333; 
  color: white; 
}

body {
  background-color: #25292c;
}

@media (max-width: 500px) {
  body {
    padding-top: 20%;
  }

}


