


.home-page h1{
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  font-weight: bolder;
  height: 40px;
  text-align: center;
 }

 .home-page h4{
 display: flex;
 font-family: "Caveat";
 font-weight: 400;
 font-size: 50px;
 }

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin-top: 0;
    padding: 0 15px;
  }
  
  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; 
    flex-wrap: wrap;
  }
  
  .text-section {
    flex: 1;
    order: 0;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 30px;
  flex-direction: column;
  justify-content: space-around ;
  width: 70%;
  }
  
  .image-section {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
  }
  
  .animated-image {
    width: 100%;
    max-width: 500px; 
    height: auto;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards; 
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 1100px) {

  
    .content-container{
      top:auto;

    }
    .text-section {
      padding-right: 0;
      text-align: center; 
      margin-bottom: 20px; 
      order: 1;
      margin-bottom: 2rem; 
    }
  
    .image-section {

      display: flex;
      justify-content: center;
      align-items: center;
      order: 2; 
    }
  
    .animated-image {
      max-width: 90%; 
    }
  }
  
  @media (max-width: 991px) {

    .content-container {
      flex-direction: column;
    }

  
    .text-section {
      margin-top: 100px;
      padding-right: 0;
      text-align: center; 
      margin-bottom: 20px;
      order: 1; 
      font-size: 25px;
    }
  
    .image-section {
      padding-top: 20px; 
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2; 

    }
  
    .animated-image {
      max-width: 60%;
    }


    .home-page  h1 {
      font-size: 60px; 
    }
  
    .home-page  h4 {
      font-size: 40px; 
    }

  }


  @media (max-width: 769px) {
    .content-container {
      flex-direction: column-reverse;  
    }
  
    .text-section {
      padding-right: 0;
      text-align: center;
      margin-bottom: 20px;
      order: 1;
      font-size: 20px;
      margin-top: 120px; 
    }

    .image-section {
      padding-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 2;
    }
  
    .animated-image {
      max-width: 80%; 
    }
  
    .home-page  h1 {
      font-size: 70px; 
   }
  
    .home-page  h4 {
      font-size: 40px; 
    }

    @media (max-width: 576px) {

      .home-page{
       align-items: baseline;
       margin-bottom: 120px;
      }
      .text-section {
        margin-top: 10px; 
      }
      .home-page  h1 {
        font-size: 90px; 
        margin-bottom:45px;
      }
      .home-page  h4 {
        font-size: 40px; 
      }
    
    }
  }

  @media (max-width: 467px) {
  

    .home-page {
      height: 65vh;
      margin-top: 25px;
    }

    .home-page  h4 {
      font-size: 35px; 
    }

    .home-page  h1 {
      font-size: 80px; 
      margin-bottom:45px;
    }

    .animated-image {
      max-width: 100%; 
    }

    .aside-dx{
      margin-top: 0;
    }
  }

