.profilo-container {
  padding: 20px;
}

.profilo-toggle {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
}

.profilo-title {
  text-align: left;
  font-size: 70px;
  margin-bottom: 20px;
  padding-left: 10px;
  margin-top: 20px;
}

.personal-info, .prenotazioni-info, .ordini-info {
  margin-top: 20px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



h5 {
  font-size: 1.2rem;
}

.profilo-toggle {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: bold;
}

.profilo-container .profilo-toggle {
  font-size: 40px;

}
